<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Add</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script>
        function colorbg()
            {
                var x = document.getElementById("selectid");
                var bgcolor=x.options[x.selectedIndex].value;
                document.body.style.backgroundColor=bgcolor;
            }

</script>

    <style>

      .white
        {
            background:white;
        }

        .peachpuff
        {
            background:peachpuff;
        }

        .powderblue
        {
            background:powderblue;
        }
        .lightskyblue
        {
            background:lightskyblue;
        }
        .palegreen
        {
            background:palegreen;
        }
        .mediumaquamarine
        {
            background:mediumaquamarine;
        }
        .thistle
        {
            background:thistle;
        }

    </style>

  </head>


  <body >

    <select id="selectid" name="sel_name"  onchange="colorbg();" >

       <option  value=" " selected hidden > --Select Color--</option>
       <option class="white" name="colors">White</option>
       <option  class="thistle"  name="colors" >THISTLE</option>
       <option  class="peachpuff" name="colors" >PEACHPUFF</option>
       <option  class="powderblue"  name="colors" >POWDERBLUE</option>
       <option  class="lightskyblue" name="colors" >LIGHTSKYBLUE</option>
       <option  class="palegreen"  name="colors" >PALEGREEN</option>
       <option  class="mediumaquamarine"  name="colors" >MEDIUMAQUAMARINE</option>
    </select>


<form  action="http://localhost:5000/add" method="POST"  class=" w-50 m-auto" >


                      {% with messages = get_flashed_messages() %}
                         {% if messages %}
                            {% for message in messages %}
                               <div class="alert alert-warning alert-dismissible fade show" role="alert">
	                                  {{ message }}
                               <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>

	                           </div>
                            {% endfor %}
                         {% endif %}
                      {% endwith %}



<div style="text-align: center;">
     <img  src="https://render.fineartamerica.com/images/rendered/default/flat/puzzle/images/artworkimages/medium/2/cute-animals-in-the-city-whimsical-art-for-kids-matthias-hauser.jpg?&targetx=-24&targety=0&imagewidth=1060&imageheight=750&modelwidth=1000&modelheight=750&backgroundcolor=D0E6DD&orientation=0&producttype=puzzle-18-24&brightness=659&v=6"  width="300" height="204" alt="">
     <p  style="font-family:cursive;background-color:ghostwhite" >  Lets Add A New City  ❤️  </p>
    <div class="form-floating">

      <input type="text"  name="city"  class="form-control" id="floatingInput" placeholder="City"   >
      <label>City</label>

    </div>
    <div class="form-floating">
      <input type="text" name="code" class="form-control" id="floatingPassword" placeholder="1234567890"  >
      <label>Code</label>
    </div>



    <button class="w-10 btn btn-lg btn-primary" type="submit" name="submit" value="Submit">Save</button>

</div>
</form>
  </body>
</html>

