<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Edit Contact</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

<script>
        function colorbg()
            {
                var x = document.getElementById("selectid");
                var bgcolor=x.options[x.selectedIndex].value;
                document.body.style.backgroundColor=bgcolor;
            }

</script>

    <style>

      .white
        {
            background:white;
        }

        .peachpuff
        {
            background:peachpuff;
        }

        .powderblue
        {
            background:powderblue;
        }
        .lightskyblue
        {
            background:lightskyblue;
        }
        .palegreen
        {
            background:palegreen;
        }
        .mediumaquamarine
        {
            background:mediumaquamarine;
        }
        .thistle
        {
            background:thistle;
        }

    </style>

  </head>


  <body >

    <select id="selectid" name="sel_name"  onchange="colorbg();" >

       <option  value=" " selected hidden > --Select Color--</option>
       <option class="white" name="colors">White</option>
       <option  class="thistle"  name="colors" >THISTLE</option>
       <option  class="peachpuff" name="colors" >PEACHPUFF</option>
       <option  class="powderblue"  name="colors" >POWDERBLUE</option>
       <option  class="lightskyblue" name="colors" >LIGHTSKYBLUE</option>
       <option  class="palegreen"  name="colors" >PALEGREEN</option>
       <option  class="mediumaquamarine"  name="colors" >MEDIUMAQUAMARINE</option>
    </select>


<form  action="http://localhost:5000/editcontact" method="POST"  class=" w-50 m-auto"  enctype="multipart/form-data">


                      {% with messages = get_flashed_messages() %}
                         {% if messages %}
                            {% for message in messages %}
                               <div class="alert alert-warning alert-dismissible fade show" role="alert">
	                                  {{ message }}
                               <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>

	                           </div>
                            {% endfor %}
                         {% endif %}
                      {% endwith %}



<div style="text-align: center;">
     <img src="https://i.ibb.co/8NjFWZc/Capture-2022-07-12-00-04-00-283.jpg" width="300" height="300" alt="">
      <p  style="font-family:cursive;background-color:ghostwhite" >  Lets Edit Your Contact  ❤️  </p>
    <div class="form-floating">

      <input type="text"  name="name"  class="form-control" id="floatingInput" placeholder="{{ name }}"   >
      <label>First Name</label>

    </div>
    <div class="form-floating">
      <input type="text" name="last" class="form-control" id="floatingPassword" placeholder="{{ last }}"  >
      <label>Last Name</label>
    </div>
    <div class="form-floating">

      <input type="text"  name="phone_1"  class="form-control" id="floatingInput" placeholder="{{ number_1 }}"   >
      <label>Phone1</label>

    </div>
    <div class="form-floating">

      <input type="text"  name="phone_2"  class="form-control" id="floatingInput" placeholder="{{ number_2 }}"   >
      <label>Phone2</label>

    </div>
    <div class="form-floating">

      <input type="text"  name="phone_3"  class="form-control" id="floatingInput" placeholder="{{ number_3 }}"   >
      <label>Phone3</label>

    </div>
    <div>
    <select  name="select1">

       <option  value=" " selected hidden > {{sel_city}} </option>
        {% for city in citys %}


               <option value="{{ city.id }}" >{{ city.name }}</option>

        {% endfor %}

    </select>
        <div>
            <p  style="font-family:cursive;background-color:ghostwhite" >  Previous picture  ️  </p>
        </div>
    </div>
        {% set filename = img %}

        {% if filename %}
        <div>
            <img src="{{ url_for('display_image', filename=filename) }}" width="150" height="150">
        </div>
        {% endif %}
      <dl>
            <p>
                <input type="file" name="file" class="form-control" autocomplete="off" required>
            </p>
        </dl>
   <dive>

    <button class="w-10 btn btn-lg btn-primary" type="submit" name="submit" value="Submit">Change</button>
   </dive>
</div>

</form>
  </body>
</html>